@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html, body {
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
    color: #EFEFD0;
    background-color: #010204;
}

canvas { /* Three.JS scene*/
    left : -5px; /*avoid vignetting*/
    top : -5px;
    bottom : -5px;
    right: -5px;
    position: fixed;
    height:100vh;
    width:100vw;
  }
  
.mc-div { /* main div with all sections*/
    top : -5px;
    position: absolute;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5); /*blur the background*/
    backdrop-filter: blur(3px);
    z-index: 10;
    display: flex;
    flex-direction: column;
}

.section { /*individual vertical section : whole screen, and centered elements by default*/
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}   


/* ------------------------------------------------------------- */

#home  { /* home component with name, logo , orbit-menu */
    display: flex;
    flex-direction: column;
}


    .name-title { /* "Eralo svg container" */
        height : 40vh;
    }

        .name-title #movingRect { /* component of name that creates the "shining" effect */
            fill: #c48c37;    
        }


    .logo-container { /*container for animated logo*/
        flex: 2;
        height:  40vh;
        margin: 10vh;
        margin-right: 25vh;
    }

        .logo { 
            width: 100%;
            height: 100%; 
            overflow: visible;
            margin: 10%;
        }

        .interact { /* invisible circle added to interact and spin logo */
            fill: transparent;
            cursor: pointer;
        }


    .menu { /* individual menu elements */
        position: absolute;
        white-space: nowrap;
        font-family: "Montserrat", sans-serif;
        font-size: 150%;
        cursor: pointer;
    }

/* ------------------------------------------------------------- */

#infos {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, #00000000, #000000e6 80%);
}

    .project-card-wrapper {
        display : flex;
        flex-wrap: wrap;
        perspective: 2000px;

    }

        .project-card{
            position: relative;
            display: flex;
            flex-direction: line;
            justify-content: left;
            vertical-align: top;
            height: 10rem;
            width: 30rem;
            margin: 2rem;
            padding: 1rem;
            border: .2rem rgb(88, 79, 0) solid;
            border-radius: 20px;
            overflow: visible;
            transform-style: preserve-3d;



            transition: transform 0.4s, box-shadow 0.4s ;
        }

        .project-card:hover {
            /*transform: scale(1.025); - Managed by JS*/
            box-shadow: 0 0 100px -30px #f9e49e9e;  
        }
            
        .project-card:hover .project-card-bg-gif {
            opacity: 1;
        }
            .project-card-logo {
                height: 10rem;
                border-radius: 10px;

                position: relative;
                transform-style: preserve-3d;
                transition: transform 0.3s ease;
                will-change: transform;

                transform: translateZ(20px);
            }

            .project-card-desc {
                margin-left: 2rem;

                position: relative;
                transform-style: preserve-3d;
                transition: transform 0.3s ease;
                will-change: transform;
                text-shadow: 1px 1px 4px rgba(0,0,0,0.8);

                transform: translateZ(10px);
            }


            .project-card-bg-gif {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
                opacity: 0;
                pointer-events: none;
                transition: opacity 0.4s ease;

                filter: blur(4px);
            }

/* ------------------------------------------------------------- */

#projets {
display: flex;
justify-content: center;
align-items: center;
background-image: linear-gradient(to bottom, #000000e6, #000000 80%);
}






/* ------------------------------------------------------------- */

@keyframes animate-border-gradient {
    0% {
      transform: rotate(0deg);
      transform-origin: bottom;
    }
    100% {
      transform: rotate(360deg) ;
      transform-origin: bottom;
    }
  }